portpicker
s2clientprotocol
aiohttp
pyglet
numpy
scipy
mpyq
matplotlib
Cython
click
loguru
pyastar@git+git://github.com/hjweide/pyastar.git@master#egg=pyastar
python_dateutil== 2.8.1
pytz== 2020.1
scikit_image
tqdm
